@model Inscripciones.Models.inscripciones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>inscripciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alumnos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alumnos.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carrera.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
